## Ignore specific files
#api_keys.txt
#temp_log.txt
#
## Ignore all files with a specific extension
#*.log
#*.temp
#
## Ignore a specific directory (append a slash /)
#build/
#.idea/


#Ignore all log/metric files
 *.csv
 *.txt
 *.png
 *.zip
 CSV_archived
 CSV_final_comparison


